.Rdata
*.txt
*.props
*.log
*.out
*~
*.pyc
.ropeproject
__pycache__
__pycache__/*
Graphics
debugs
backup
build/*
dist/*
docs/OthersDocs/*
indra_backup
menger_fail
models/old_models/*
*.swp
*.sav
~$*
.ipynb_checkpoints/
*.csv
*.json
bigbox/data/mppref1.2/.RData
bigbox/data/mppref1.2/.Rhistory
bigbox/tmp/*
docs/GenericGraphics/*
indras_net.egg-info/*
