.Rdata
*.txt
#Except the docker requirement.txt
!/docker/*.txt
*.props
*.log
*.out
*~
*.pyc
.ropeproject
__pycache__
__pycache__/*
Graphics
debugs
backup
build/*
dist/*
docs/OthersDocs/*
indra_backup
menger_fail
models/old_models/*
*.swp
*.sav
~$*
.ipynb_checkpoints/
*.csv
*node_modules
bigbox/data/mppref1.2/.RData
bigbox/data/mppref1.2/.Rhistory
bigbox/tmp/*
docs/GenericGraphics/*
indras_net.egg-info/*
/.idea/encodings.xml
/.idea/indras_net.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/indra2/.idea/encodings.xml
/indra2/.idea/indra2.iml
/indra2/.idea/misc.xml
/indra2/.idea/modules.xml
/indra2/.idea/vcs.xml
/indra2/.idea/workspace.xml
/models/.coverage
/capital/.coverage
.ds_store
!/APIServer/data/*.json
!/webapp/*json
APIServer/.coverage
/venv/
/.vscode
precache-manifest.*
/webapp/coverage/*
.idea
**/*.coverage

registry/db/*.json

APIServer/APIServer.ini
APIServer/APIServer.service
APIServer/wsgi.py