{% extends "base.html" %}

{% load humanize %}
{% load formatting %}

{% block content %}
    <div class="module">
    <h1>Model Parameters</h1>
    <form action="{% url 'IndrasNet:run' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="model" value="{{ model.name }}">
        
        {% for item in form %}
            <p>
            {{ item.errors }}
            <label for="{{ item.id_for_label }}">{{ item.label_tag }}</label>
            {{ item }}
            {% if item.field.widget|class_name == "NumberInput" %}
            ({{ item.field.min_value }}-{{ item.field.max_value }})
            {% endif %}
            </p>
        {% endfor %}
        
        <input type="submit" name="run" value="Run {{ model.name }}"/>
    </form>
    </div>
{% endblock content %}