<html>
<head>
    <title>
        {% block title %}
        {{ header }}
        {% endblock title %}
    </title>
{%  load static %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static '/IndrasNet/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% endblock stylesheets %}
</head>

<body class="dashboard" onload="loadcode()">
    <div id="container">
        <div id="top-image">


        </div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h1>{{ header }}</h1>
                    <!--<div id="branding">-->
                        <!--<h1>{{ header }}</h1>-->
                    <!--</div>-->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                        <a href="/IndrasNet">Home</a>
                        </li>
                        <li>
                        <a href="/IndrasNet/ab_models">Models</a>
                        </li>
                        <li>
                        <a href="https://gcallah.github.io/indras_net/index.html">Help</a>
                        </li>
                        <li>
                        <a href="/IndrasNet/feedback">Feedback</a>
                        </li>
                        <li>
                        <a href="/IndrasNet/about">About</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        {% block menubar %}
        {% endblock menubar %}

        <div class="home-page">
            {% block homepage %}
            {% endblock homepage %}
        </div>

        <div id="content">
            <div id="content-main">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</body>
</html>
