{% extends "base.html" %}
{% block content %}
    <div class="module">
        <details>
            <summary class="sum2">
            About Indra's Net
            </summary>

            <p>
            (Description here)
            </p>

            <details>
                <summary class="sum3">
                    (Subtitle)
                </summary>
                <p>
                    (Something here)
                </p>
            </details>
        </details>

        <details>
            <summary class="sum2">
            (Second Title)
            </summary>

            <p>
                (Something here)
            </p>


        </details>

        <details>
            <summary class="sum2">
            Third Title
            </summary>
        
            <p>
                (Something here)
            </p>


        </details>






    </div>
{% endblock content %}
