{% extends "base.html" %}

{% block content %}
    <div class="module">
        <form action="{% url 'IndrasNet:main_page' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="nxt_key">
            <input type="hidden" name="unwritable">
            <input type="submit" name="run">
            <input type="text" name="step">
            steps
            
            <input type="submit" name="show">
        </form>
        {{ response }}
        <br>
        <br>

        <textarea rows="12" cols="60" readonly="readonly">
            {% for name in json.items %}
                {{name.0}}: {{name.1}}
            {% endfor %}
        </textarea>
    </div>

{% endblock content %}
