{% extends "base.html" %}

{% block content %}
    <p>
    Welcome to Indra's Net, an open-source, agent-based modeling system
    written in Python. You can see a lit of our <a
    href="./ab_models">models here</a>, and browse our 
    <a href="https://github.com/gcallah/indras_net">source code
    here</a>.
    </p>

    <figure>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Indrasnet.jpg/600px-Indrasnet.jpg">
        <figcaption>
            A rendering of Indra's net.
        </figcaption>
    </figure>
{% endblock content %}
