{% extends "base.html" %}
{% block menubar %}
<nav class="navbar navbar">
    <div class="container-fluid remove_left_space" >

        <ul class="nav navbar-nav">
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Edit</button>
                    <div class="dropdown-content">
                        <form class="menu_item" action="{% url 'IndrasNet:run' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="model" value={{ model }}>
                            <input type="hidden" name="action" value="add_agent">
                            <input type="submit" name="menu_item" value="Add Agent"/>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">View</button>
                    <div class="dropdown-content">
                        <form class="menu_item" action="{% url 'IndrasNet:run' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="model" value={{ model }}>
                            <input type="hidden" name="action" value="list_agents">
                            <input type="submit" name="menu_item" value="List Agents"/>
                        </form>
                        <form class="menu_item" action="{% url 'IndrasNet:run' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="model" value={{ model }}>
                            <input type="hidden" name="action" value="properties">
                            <input type="submit" name="menu_item" value="Properties"/>
                        </form>
                        <form class="menu_item" action="{% url 'IndrasNet:run' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="model" value={{ model }}>
                            <input type="hidden" name="action" value="disp_log">
                            <input type="submit" name="menu_item" value="Examine Log"/>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Tools</button>
                    <div class="dropdown-content">
                        <form class="menu_item" action="{% url 'IndrasNet:run' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="model" value={{ model }}>
                            <input type="hidden" name="action" value="step">
                            <input type="submit" name="menu_item" value="Step"/>
                        </form>
                        <form class="menu_item" action="{% url 'IndrasNet:run' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="model" value={{ model }}>
                            <input type="hidden" name="action" value="n_steps">
                            <input type="hidden" name="steps" value="5">
                            <input type="submit" name="menu_item" value="Run 5 Steps"/>
                        </form>
                        <form class="menu_item" action="{% url 'IndrasNet:run' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="model" value={{ model }}>
                            <input type="hidden" name="action" value="n_steps">
                            <input type="hidden" name="steps" value="10">
                            <input type="submit" name="menu_item" value="Run 10 Steps"/>
                        </form>
                        <form class="menu_item" action="{% url 'IndrasNet:run' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="model" value={{ model }}>
                            <input type="hidden" name="action" value="n_steps">
                            <input type="hidden" name="steps" value="25">
                            <input type="submit" name="menu_item" value="Run 25 Steps"/>
                        </form>
                        <form class="menu_item" action="{% url 'IndrasNet:run' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="model" value={{ model }}>
                            <input type="hidden" name="action" value="n_steps">
                            <input type="hidden" name="steps" value="50">
                            <input type="submit" name="menu_item" value="Run 50 Steps"/>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
{% endblock menubar %}

{% block content %}
    <div class="module">
        <div class="textbox_left">
            <h><font size="4em">Output:</font></h>
            <div class="scroll_box">{{text0|linebreaks}}</div>
        </div>
        <div class="textbox_right">
            <h><font size="4em">Report:</font></h>
            <div class="scroll_box_2">{{text1|linebreaks}}</div>
        </div>

        <img src="data:image/png;base64, {{image}}" />
    </div>
{% endblock content %}