{% extends "base.html" %}
{% block menubar %}
<nav class="navbar navbar" style="background-color:#ccc">
    <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <ul class="nav navbar-nav">
            <li>
                <div class="dropdown">
                    <button class="dropbtn">File</button>
                    <div class="dropdown-content">
                        <a href="#">Examine Log</a>
                        <a href="#">Population Report</a>
                        <a href="#">Quit</a>
                        <a href="#">Write Props</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Edit</button>
                    <div class="dropdown-content">
                        <a href="#">Add Agent</a>
                        <a href="#">Inspect Agent</a>
                        <a href="#">Inspect Env</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">View</button>
                    <div class="dropdown-content">
                        <a href="#">List Agents</a>
                        <a href="#">Properties</a>
                        <a href="#">View Populations</a>
                        <a href="#">Graph</a>
                        <a href="#">Scatter Plot</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Tools</button>
                    <div class="dropdown-content">
                        <a href="#">Step</a>
                        <a href="#">Run Steps</a>
                        <a href="#">Debug</a>
                        <a href="#">Switch Model</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
{% endblock menubar %}

{% block content %}
    <div class="module">
        <div class="scroll_box">{{text|linebreaks}}</div>

        <img src="data:image/png;base64, {{image}}" />
    </div>
{% endblock content %}