{% extends "base.html" %}

{% block content %}
    <div class="module">
    <table>
        <caption>
            Models
        </caption>
        <tr>
            <th>Name</th>
            <th>Model Type</th>
            <th>Description</th>
        </tr>
        {% for model in models %}
            <tr>
                <td> 
                <form action="{% url 'IndrasNet:parameters' %}" method="post">
                {% csrf_token %}
                <input type="submit" name="model" value="{{ model.name }}"/>
                </form>
                </td>
                <td> {{ model.mtype }} </td>
                <td> {{ model.descr }} </td>
                              
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock content %}
