.carousel {
  display: block;
  max-width: 70%;
  align-items: center;
}

.desc-link {
  text-align: center;
  margin: 48px auto 0;
}

.error-message {
  color: red;
  font-size: 12px;
}

.header {
  text-align: left;
  margin-bottom: 24px;
}

.indra-name {
  font-size: 32px;
  text-align: center;
  width: 140px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.margin-top-60 {
  margin-top: 60px;
}

.model-status {
  float: right;
  width: 28rem;
  height: 28rem;
}

.number-input {
  width: 30px;
  height: 30px;
}

.small-header {
  font-size: 16px;
  font-weight: 400;
}

.list-group-item {
  cursor: pointer;
}

.link {
  word-wrap: break-word;
}
