/*
    DJANGO Admin styles
*/

# @import url(fonts.css);

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}

/* LINKS */

a:link, a:visited {

    text-decoration: none;
}

a:focus, a:hover {
    color: #acf;
}

a:focus {
    text-decoration: underline;
}

a img {
    border: none;
}

a.section:link, a.section:visited {

    text-decoration: none;
}

a.section:focus, a.section:hover {
    text-decoration: underline;
}

/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    font-size: 1.2em;
    margin: .2em 0 .8em 0;
}

p {
    padding: 0;
    line-height: 140%;
}

h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 2.2em;

}

h2 {
    font-size: 2em;
    margin: 1em 0 .5em 0;
}

h2.subhead {
    font-weight: normal;
    margin-top: 0;
}

h3 {
    font-size: 1.8em;
    margin: 48px 12px 12px 12px;

    font-weight: bold;
}

h4 {
    font-size: 1.4em;
    margin: 1em 0 .8em 0;
    padding-bottom: 3px;
}

h5 {
    font-size: 1.3em;
    margin: 1.5em 0 .5em 0;

    text-transform: uppercase;
    letter-spacing: 1px;
}

ul li {
    font-size: 1.2em;
    list-style-type: square;
    padding: 1px 0;
}

li ul {
    margin-bottom: 0;
}

ol.nested, ul.nested, dl.nested {
    font-size: 1em;
}

li, dt, dd {
    font-size: 1.3em;
    line-height: 20px;
}

dt {
    font-weight: bold;
    margin-top: 4px;
}

dd {
    margin-left: 0;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #eee;
}

blockquote {
    font-size: 1em;

    margin-left: 2px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
}

code, pre {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;

    font-size: 1.1em;
}

pre.literal-block {
    margin: 10px;

    padding: 6px 8px;
}

code strong {

}

hr {
    clear: both;


    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 1px;
}

/* FORM */

div#code-input {
    margin: 0 35% 1em 1em;
    padding: 0;
}

div#register-area {
    margin: 0;
    padding: 0;
    float: right;
    width: 25%;
}

/* TEXT STYLES & MODIFIERS */

input#error {
    color: f00;
}

.small {
    font-size: 11px;
}

.tiny {
    font-size: 10px;
}

p.tiny {
    margin-top: -2px;
}

.mini {
    font-size: 10px;
}

p.mini {
    margin-top: -3px;
}

.help, p.help, form p.help {
    font-size: 11px;

}

.help-tooltip {
    cursor: help;
}

p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align: middle;
}

.quiet, a.quiet:link, a.quiet:visited {

    font-weight: normal;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.example {
    margin: 10px 0;
    padding: 5px 10px;

}

.nowrap {
    white-space: nowrap;
}

/* TABLES */

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #111;
    vertical-align: top;
    padding: 8px;
}

th {
    text-align: center;

}

th#MemStack {
    text-align: center;

}

thead th,
tfoot td {

    padding: 5px 10px;
    font-size: 11px;

    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

tfoot td {
    border-bottom: none;
    border-top: 1px solid #eee;
}

tr.alt {

}

.row1 {

}

.row2 {

}


/* FORM DEFAULTS */

input, textarea, select, .form-row p, form .button {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;

    font-weight: normal;
    font-size: 14px;
}

textarea {
    vertical-align: top;
}

input[type=text], input[type=password], input[type=email], input[type=url],
input[type=number], textarea, select, .vTextField {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
input[type=url]:focus, input[type=number]:focus, textarea:focus, select:focus,
.vTextField:focus {
    border-color: #999;
}

select {
    height: 30px;
}

select[multiple] {
    min-height: 150px;
}

/* FORM BUTTONS */

.button, input[type=submit], input[type=button], .submit-row input, a.button {

    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background:#64C2EC;
    cursor: pointer;
}

a.button {
    padding: 4px 5px;
}

.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #609ab6;
}

.button[disabled], input[type=submit][disabled], input[type=button][disabled] {
    opacity: 0.4;
    background:#64C2EC;
}

.button.default, input[type=submit].default, .submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background:#64C2EC;
}

.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background: #205067;
}

.button[disabled].default,
input[type=submit][disabled].default,
input[type=button][disabled].default {
    opacity: 0.4;
}
/* MENU ITEMS BUTTONS */
.menu_item {
    padding:0;
}
.menu_item input[type=submit]{
    width:100%;
    height:100%;

    padding: 0.625em 0.9375em;
    margin:0;
    text-align:left;
    border: none;
    border-radius: 0;

    cursor: pointer;
}
.menu_item input[type=submit]:active,
.menu_item input[type=submit]:focus,
.menu_item input[type=submit]:hover{
    background:#888;
}


/* MODULES */

.module {
    border: none;
    margin-bottom: 1.875em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
    padding-left: 0.625em;
    padding-right: 0.625em;
}

.module blockquote {
    margin-left: 0.75em;
}

.module ul, .module ol {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}

/* .module h2, */ .module caption, .inline-group h2 {
    margin: 0;
    padding: 0.5em;
    font-weight: 400;
    font-size: 1.25em;
    text-align: left;

}

.module caption,
.inline-group h2 {
    font-size: 1.25em;
    letter-spacing: 0.03125em;
    text-transform: uppercase;
}


/* MESSAGES & ERRORS */

ul.messagelist {
    padding: 0;
    margin: 0;
}

ul.messagelist li {
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: #dfd url(../img/icon-yes.svg) 40px 12px no-repeat;
    background-size: 16px auto;

}

ul.messagelist li.warning {
    background: #ffc url(../img/icon-alert.svg) 40px 14px no-repeat;
    background-size: 14px auto;
}

ul.messagelist li.error {
    background: #ffefef url(../img/icon-no.svg) 40px 12px no-repeat;
    background-size: 16px auto;
}

.errornote {
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0 0 10px 0;

    border: 1px solid #ba2121;
    border-radius: 4px;

    background-position: 5px 12px;
}

ul.errorlist {
    margin: 0 0 4px;
    padding: 0;

}

ul.errorlist li {
    font-size: 13px;
    display: block;
    margin-bottom: 4px;
}

ul.errorlist li:first-child {
    margin-top: 0;
}

ul.errorlist li a {
    color: inherit;
    text-decoration: underline;
}

td ul.errorlist {
    margin: 0;
    padding: 0;
}

td ul.errorlist li {
    margin: 0;
}

.form-row.errors {
    margin: 0;
    border: none;
    border-bottom: 1px solid #eee;
    background: none;
}

.form-row.errors ul.errorlist li {
    padding-left: 0;
}

.errors input, .errors select, .errors textarea {
    border: 1px solid #ba2121;
}

div.system-message {

    margin: 10px;
    padding: 6px 8px;
    font-size: .8em;
}

div.system-message p.system-message-title {
    padding: 4px 5px 4px 25px;
    margin: 0;

    background: #ffefef url(../img/icon-no.svg) 5px 5px no-repeat;
}

.description {
    font-size: 12px;
    padding: 5px 0 0 12px;
}

/* BREADCRUMBS */

div.breadcrumbs {

    padding: 10px 40px;
    border: none;
    font-size: 14px;

    text-align: left;
}

div.breadcrumbs a {

}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #c4dce8;
}

/* ACTION ICONS */

.addlink {
    padding-left: 16px;
    background: url(../img/icon-addlink.svg) 0 1px no-repeat;
}

.changelink, .inlinechangelink {
    padding-left: 16px;
    background: url(../img/icon-changelink.svg) 0 1px no-repeat;
}

.deletelink {
    padding-left: 16px;
    background: url(../img/icon-deletelink.svg) 0 1px no-repeat;
}

a.deletelink:link, a.deletelink:visited {

}

a.deletelink:focus, a.deletelink:hover {

    text-decoration: none;
}

/* OBJECT TOOLS */

.object-tools {
    font-size: 10px;
    font-weight: bold;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -48px;
}

.form-row .object-tools {
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
    height: 2em;
    padding-left: 3.5em;
}

.object-tools li {
    display: block;
    float: left;
    margin-left: 5px;
    height: 16px;
}

.object-tools a {
    border-radius: 15px;
}

.object-tools a:link, .object-tools a:visited {
    display: block;
    float: left;
    padding: 3px 12px;

    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}

.object-tools a:focus, .object-tools a:hover {
    background-color: #285D91;
}

.object-tools a:focus{
    text-decoration: none;
}

.object-tools a.viewsitelink, .object-tools a.golink,.object-tools a.addlink {
    background-repeat: no-repeat;
    background-position: 93% center;
    padding-right: 26px;
}

.object-tools a.viewsitelink, .object-tools a.golink {
    background-image: url(../img/tooltag-arrowright.svg);
}

.object-tools a.addlink {
    background-image: url(../img/tooltag-add.svg);
}


/* PAGE STRUCTURE */

#container {
    position: relative;
    width: 100%;
    min-width: 50%;
    padding: 0;
}

#content {
    margin-right: 5em;
    margin-left: 5em;

}

.dashboard #content {
    margin-right: 5em;
    margin-left: 5em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#content-main {

}

#content-related {
    float: right;
    width: 360px;
    position: relative;
    margin-right: -300px;
}

#footer {
    clear: both;
    padding: 10px;
}

/* COLUMN TYPES */

.colMS {
    margin-right: 300px;
}

.colSM {
    margin-left: 300px;
}

.colSM #content-related {
    float: left;
    margin-right: 0;
    margin-left: -300px;
}

.colSM #content-main {
    float: right;
}

.popup .colM {
    width: auto;
}

/* HEADER */

#header {
    width: auto;
    height: 40px;
    padding: 10px 40px;

    line-height: 40px;

    overflow: hidden;
}

#header a:link, #header a:visited {

}

#header a:focus , #header a:hover {
    text-decoration: underline;
}

#branding {
    float: left;
}



#branding h1 {
    padding: 0;
    margin: 5px 0 0 0;
    font-weight: 300;
    font-size: 2.2em;

}

#branding h1, #branding h1 a:link, #branding h1 a:visited {

    font-family:fantasy
}

#branding h2 {
    padding: 0 10px;
    font-size: 22px;
    margin: -8px 0 8px 0;
    font-weight: normal;

}

#branding a:hover {
    text-decoration: none;
}

#top-image {
    height:8em;
    background-image: url("top logo.jpg");
    background-size:cover;
}



#run-button {
    text-align: center;
    font-size: 13px;
    margin: 10px 5px 20px 5px;

    border-radius: 10px;
    border: 1px solid #003366;
}

#step-button {
    margin: 10px 5px 20px 5px;
    font-size: 13px;


    border-radius: 10px;
    border: 1px solid #003366;
}

#save-button {
    
    font-size: 13px;
    margin: 10px 1px 20px 2px;


    border-radius: 10px;
    border: 1px solid #003366;
}

#clear-button {
    float: left;
    font-size: 13px;
    margin: 10px 10px 20px 15px;

    border-radius: 10px;
    border: 1px solid #003366;
}

td#flag, td#register, td#mem-loc {

    vertical-align: middle
}

td#unwritable {

    vertical-align: middle
}

td#contents, input#reg-cont, input#flag-cont {

}

input#reg-cont, input#mem-cont, input#flag-cont, input#unwr-cont {
    border: none;
    padding: 0px, 0px, 0px, 0px
}

input#unwr-cont {

}

td#form-cell {

}

td#registers-cell {

}

#user-tools {
    float: right;
    padding: 0;
    margin: 0 0 0 20px;
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;
}

#user-tools a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-bottom-color: #285d91;
    color: #ffcc33;

}

/* SIDEBAR */

#content-related {

}

#content-related .module {
    background: none;
}

#content-related h3 {
    font-size: 14px;

    padding: 0 16px;
    margin: 0 0 16px;
}

#content-related h4 {
    font-size: 13px;
}

#content-related p {
    padding-left: 16px;
    padding-right: 16px;
}

#content-related .actionlist {
    padding: 0;
    margin: 16px;
}

#content-related .actionlist li {
    line-height: 1.2;
    margin-bottom: 10px;
    padding-left: 18px;
}

#content-related .module h2 {
    background: none;
    padding: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eaeaea;
    font-size: 22px;

}

.delete-confirmation form input[type="submit"] {

    border-radius: 4px;
    padding: 10px 15px;

}

.delete-confirmation form input[type="submit"]:active,
.delete-confirmation form input[type="submit"]:focus,
.delete-confirmation form input[type="submit"]:hover {
    background: #a41515;
}

.delete-confirmation form .cancel-link {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    line-height: 15px;

    border-radius: 4px;
    padding: 10px 15px;

    margin: 0 0 0 10px;
}

.delete-confirmation form .cancel-link:active,
.delete-confirmation form .cancel-link:focus,
.delete-confirmation form .cancel-link:hover {

}

/* POPUP */
.popup #content {
    padding: 20px;
}

.popup #container {
    min-width: 0;
}

.popup #header {
    padding: 10px 20px;
}

/* figures: */
figure {
    text-align: center;
}

figure.lead-figure {
    margin: 0em 1em 1em 1em;
}

figcaption {

    font-style: italic;
    text-align: center;
    margin: .8em 1em .6em 1em;
}

/* summary tags */
summary.sum1 {
    font-size: 2em;

    margin: 1em 1.2em 1em 1.2em;
}

summary.sum2 {
    font-size: 1.6em;

    font-weight: 500;
    margin: .8em 1.2em .8em 2em;
}

summary.sum3 {
    font-size: 1.5em;

    margin: .6em 1.2em .6em 2.8em;
}

summary.sum4 {
    font-size: 1.4em;

    margin: .4em 1.2em .4em 2.8em;
}

summary.menu_sum {
    font-size: 1.4em;

    margin: .5em 0em .5em 0em;
}

.textbox_left {
    margin-left:7em;
    margin-top: 3em;
    float:left;
}
.textbox_right {
    margin-right:7em;
    margin-top: 3em;
    float:right;
}
.scroll_box {
    background-color: white;
    width: 20em;
    height: 20em;
    overflow: scroll;

    padding:1em;
    border:0.2em solid black;
}
.scroll_box_2 {
    background-color: white;
    width: 20em;
    height: 20em;
    overflow: scroll;

    padding:1em;
    border:0.2em solid black;
}



/* dropdown */
.dropbtn {
    background:#6AA5FD;
    color: black;
    padding: 1em;
    font-size: 0.9em;
    border-style: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    border-style: none;

}

.dropdown-content {
    display: none;
    position: absolute;

    min-width: 10em;
    box-shadow: 0em 1em 2em 0em rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {

    font-size:0.8em;
    padding: 0.4em 0.6em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background:#888;
}

/* navbar */
.navbar-header h1{
    font-family: fantasy;
    padding-left: 1.4em;
    margin: 0.5em 0 0 0;
    font-weight: 300;
    font-size: 2.2em;
    color:#403f63;
}


.navbar {
    border-radius:0;
    margin:0;

}
.nav {

}

.navbar-nav{
    margin-left:0;

}
.remove_left_space{
    padding-left:0;
}

.container-fluid {
    background:#64C2EC;
    margin-bottom:0;
}
.navbar-inverse{
    border-style:none;
    margin-bottom:0;
}
.collapse {
    margin-bottom:0;
}

.navbar-collapse {
    margin-bottom:0;
}
.navbar-right {
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}

.nav.navbar-nav.navbar-right li a {
    color:white;
}
.nav.navbar-nav.navbar-right li a:focus, .nav.navbar-nav.navbar-right li a:hover {
    color:#cbcbcb;
}
.navbar.navbar {
    border-style:none;
}
.container-fluid.remove_left_space {
    background:#6AA5FD;
}
.container-fluid.remove_left_space .nav.navbar-nav li {
    padding:0;
}
#myNavbar{
    margin-bottom:0;
}


/* Background */
.dashboard {
    background-image: url("indra wallpaper.jpg");
}

/* Home Page */
.home-page {

}
.home-page p {
    background-image: url("home page background.jpg");
    background-size:cover;
    margin:0;
    height:100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:white;
    padding-left:1.5em;
    padding-top:3em;
    font-size:2.7em;
}
.home-page a:link, .home-page a:visited {
    border-radius:0.3em;
    background:#64C2EC;
    font-size:0.75em;
    color: white;
    padding: 0.5em;
    text-align: center;
}
.home-page a:hover, .home-page a:active{
    background:#346E94;
}